:root {
  --background-color: #ffffff;
  --cards-background-color: #ffffff;
  --inputs-backgroud-color: #eeeeee;
  --primary-text-color: rgba(0,0,0,.87);
  --secondary-text-color: rgba(0,0,0,.50);
  --breadcrumbs-border-color: #eee;
  --table-highlight: rgba(0,0,0,.05);
  --shadow-color: rgba(204 204 204 / 30%);
  --accent-color: #2064c9;
  --accent-text-color: rgba(255,255,255,.87);
}
:root[dark] {
  --background-color: #1D1D1D;
  --cards-background-color: #181818;
  --inputs-backgroud-color: #1D1D1D;
  --primary-text-color: rgba(255,255,255,.87);
  --secondary-text-color: rgba(255,255,255,.50);
  --breadcrumbs-border-color: #333;
  --table-highlight: rgba(0,0,0,.16);
  --shadow-color: rgba(0 0 0 / 30%);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  margin: 0px;
}

span.material-icons {
  vertical-align: middle;
}
.hidden{
  display: none;
}
.center{
  text-align: center;
}

button {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: 8px 16px;
  border: 0px solid;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

button[disabled] {
  background-color: var(--inputs-backgroud-color);
}

input[type='text'],
input[type='password'],
input[type='number'],
select {
	border-radius: 5px;
	width: calc(100% - 32px);
	color: var(--primary-text-color);
  background-color: var(--inputs-backgroud-color);
  border: 0px solid;
  padding: 8px 16px;
}

input[type='checkbox'] {
	display: inline-block;
	position: relative;
	opacity: 0.5;
	margin: 3px;
	border: 2px solid gray;
	border-radius: 2px;
	background-color: none;
	padding: 7px;
}

input[type='checkbox']:checked {
	opacity: 1;
	border-width: 0;
	background-color: var(--accent-color);
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='18' viewBox='3 3 18 18' width='18'%3E%3Cpath fill='%23ffffff' d='M 10,17 5,12 6.41,10.59 10,14.17 17.59,6.58 19,8 Z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
	background-position: center center;
	padding: 9px;
	color: var(--primary-text-color);
}

select {
	background-clip: border-box;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath style='fill:gray;fill-opacity:0.5' d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
	background-position: calc(100% - 8px) center;
	background-repeat: no-repeat;
	background-size: 24px;
	padding-right: 40px;
  appearance: none;
  width: 100%;
}

/* Loading Bar */
.progress {
	position: relative;
	height: 4px;
	display: block;
	width: 100%;
	background-color: var(--inputs-backgroud-color);
	border-radius: 2px;
	margin: 0.5rem 0 1rem 0;
	overflow: hidden;
}
.progress .bar { background-color: var(--accent-color); }
.progress .determinate {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	transition: width 0.3s linear;
}
.progress .indeterminate::before {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate::after {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	animation-delay: 1.15s;
}

@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}

@keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%;
	}
	60% {
		left: 107%;
		right: -8%;
	}
	100% {
		left: 107%;
		right: -8%;
	}
}

/* Loading Ring */
.loading-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  margin: auto;
}
.loading-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.loading-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.loading-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.loading-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes loading-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Header */
body > header {
  height: 56px;
  display: flex;
  overflow: hidden;
  background-color: var(--cards-background-color);
  box-shadow: 0 2px 6px rgb(0 0 0 / 9%);
  align-items: center;
  padding: 0% 5%;
}
body > header > a, header > a > img {
  height: 40px;
  border-radius: 50%;
}

/* Header navbar */
body > header .navbar{
  display: flex;
  align-items: center;
  flex-grow: 2;
}
body > header .navbar.withAvatar {
  margin-left: 8px;
}
a {
  color: var(--primary-text-color);
  text-decoration: none;
  user-select: none;
}
body > header .navbar > a {
  font-size: 14.5px;
  padding: 0 16px;
  line-height: 30px;
  border-radius: 30px;
  display: inline-block;
  border: 1px solid var(--breadcrumbs-border-color);
  white-space: nowrap;
}
body > header .navbar > a:last-of-type, header .navbar > a:hover {
  background-color: #1e89f2;
  color: #ffff;
}

.icon-file {
  display: flex;
  align-items: center;
  margin: 12px 0px;
}
.icon-file .material-icons {
  margin-right: 8px;
}

/* Container */
div.container {
  max-width: 900px;
  padding: 0px 8px;
  margin: 0px auto;
}

div.container > article {
  margin: 20px -8px 0 !important;
  padding: 15px !important;
  border-radius: 5px;
  -webkit-box-shadow: 0 0.2em 1em var(--shadow-color);
  box-shadow: 0 0.2em 1em var(--shadow-color);
  background-color: var(--cards-background-color)
}

div.container > article section.input-group {
  margin-bottom: 12px;
}

div.container > article section.input-group > label{
  display: block;
  color: var(--secondary-text-color);
  font-size: .8em;
}

/* Content Table*/
#contentTable {
  width: 100%;
  border-spacing: 0;
}
.table { display: table; }
.row {
  display: table-row;
  text-align: left;
  height: 48px;
  vertical-align: inherit;
}
.cell {
  display: table-cell;
  vertical-align: inherit;
}
.table header { display: table-header-group; vertical-align: middle; }
.table section { display: table-row-group; vertical-align: middle; }
.table footer { display: table-footer-group; vertical-align: middle; }
.table header .row {
  font-weight: bold;
}
.row .no-wrap { white-space: nowrap; }
.row .no-wrap span { margin-left: 8px; }
.row .right{ text-align: right; }
.filename { word-break: break-all; }
.row .cell:first-child { padding-left: 8px }
.row .cell:last-child { padding-right: 8px }
.row.list_item{ cursor: pointer; }
.row.list_item:hover { background-color: var(--table-highlight) }

#count{
  text-align: center;
  margin: 8px;
}

@media screen and (max-width: 35.5em){
  .hide-on-mobile{
    display: none;
  }
}
